
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');

html, body {
    font: 14pt Arial;
    margin: 0;
    padding: 0;
    color: white;
    background: linear-gradient(270deg, #6128ca, #008170);
    background-size: 400% 400%;
    -webkit-animation: Root 36s ease infinite;
    -moz-animation: Root 36s ease infinite;
    animation: Root 36s ease infinite;
}

a {text-decoration: none; color: aquamarine;}
a:hover {text-decoration: none; color: rgb(29, 110, 83)}
button {opacity: 0.9; border: none; transition: 0.4s; padding: 15px; background-color: #ffffff; color: #000;border-radius: 4px; -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);}
button:hover {padding: 15px; opacity: 0.6; cursor: pointer;}
button:active {background-color: rgb(104, 54, 133); color: white}

.container {
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: auto;
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 200;
    font-size: 35pt;
}

.container .subtitle {
    font-size: 15pt;
}

.container .apple__icon {
    display: inline-block;
    background-image: url(../resources/apple.png);
    background-repeat: no-repeat;
    width: 38px;
    height: 45px;
    margin: 0;
}

.container .container__toolbox {
    display: block;
    max-width: 100%;
    width: 20%;
    height: 15%;
    max-height: 10%;
    place-items: center;
    margin: 0 auto;
    text-align: center;
}

.container .text {
    font-size: 19pt !important;
}

@-webkit-keyframes Root {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Root {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Root {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* media */
@media screen and (max-width: 545px) {
    .container {
        font-size: 20pt;
    }
    .container .subtitle {
        font-size: 10pt;
    }
    .container .container__toolbox {
        width: 50%;
    }
}

@media screen and (max-width: 325px) {
    .container {
        font-size: 16pt;
    }
    .container .subtitle {
        font-size: 6pt;
    }
    .container .apple__icon {
        display: none;
    }
}