@font-face {
    font-family: "xirod"; 
    src: url("xirod.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

.top_logo {
    position: relative;
    top: 10%;
    text-align: center;
    font-family: "xirod";
    font-size: 36pt;
    color: #f0f0f0;
    text-shadow: 2px 2px 2px #000000;
}

.top_logo > span {
    transition: 0.2s;
    opacity: 0.9;
}

.main_content {
    width:100%;
    height:100%;
}

.img_attachment {
    padding: 20px;
}